<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <ul>
            <li>
                <div class="left">
                    <i class="fa fa-minus-square expand" aria-hidden="true"></i>
                    <i class="fa fa-plus-square collapse" aria-hidden="true"></i>
                </div>
                <div id="root" class="btn node-button left" data-toggle="modal" data-target="#nodeModal">Root</div>
                <ul class="left">
                {{#each tree.children}}
                    <li class="left">
                        <div class="left">
                            <i class="fa fa-minus-square expand" aria-hidden="true"></i>
                            <i class="fa fa-plus-square collapse" aria-hidden="true"></i>
                        </div>
                        <div id="{{id}}" class="btn node-button left" data-toggle="modal" data-name="{{name}}" data-min="{{min}}"
                        data-count="{{this.values.length}}" data-target="#editModal">{{name}}
                        </div>
                        <ul class="left">
                            {{#each this.values}}
                                <li class="left">
                                    {{this}}
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                 {{/each}}
                </ul>
            </li>
        </ul>
    </div>
</div>