<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <ul class="list-group">
        <li class="list-group-item">
            <button type="button" id="root" class="btn btn-primary node-button" data-toggle="modal" data-target="#nodeModal">Root</button>
        </li>
        {{#each tree.children}}
            <li class="list-group-item">
            <div class="row">
                <div class="col-sm-3"><button type="button" id="{{id}}" class="btn btn-default node" data-toggle="modal" data-name="{{name}}"
                    data-min="{{min}}" data-max="{{max}}" data-count="{{this.values.length}}" data-target="#editModal">{{name}}</button></div>
                <div class="col-sm-9">
                <ul class="list-group">
                    {{#each this.values}}
                        <li class="list-group-item">
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                </div>
            </div>
            </li>
        {{/each}}
        </ul>
    </div>
</div>